
.main2 {
    margin: 0;
    background: url('./docbgimg.jpg') no-repeat ;
    width: auto;
    background-position: center;
    background-size: cover;
    overflow: hidden;
    min-height: 100vh;
    /* z-index: 1; */
}
p {
    padding: 1rem 1rem 1rem;
}