@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap');
.main3 {
    margin: 0;
    background: url('https://images.wallpaperscraft.com/image/road_sunset_horizon_marking_118582_1600x1200.jpg') no-repeat ;
    width: auto;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;
    min-height: 100vh;
    padding-top: 10vh;
    /* min-width: 100vh; */
    /* width: 150rem; */
}

.containera{
    background-color: rgba(245, 245, 245, 0.45);
    font-family: 'Roboto Slab', serif;
    font-weight: 500;
    margin-top:  6vw;
    align-self: center;
    border: .5vw solid rgba(255, 253, 253, 0.59);
    border-radius: 1rem;
    margin: 6vw 20vw 6vw ;  /*decide the width you want to keep */
    padding: 2vw;
    /* padding-bottom: 54rem; */
    line-height: 2rem;
    box-shadow:rgba(0, 0, 0, 0.5) -5px -5px 9px 5px, rgba(0, 0, 0, 0.5) 5px 5px 9px 5px, inset 10px 10px 20px rgba(250, 248, 248, 0.5), inset -10px -10px 20px rgba(240, 233, 233, 0.5);
    /* box-shadow:rgba(0, 0, 0, 0.8) -5px -5px 9px 5px, inset rgba(249, 253, 4, 0.425) 0px -10px 30px -5px; */
}
.containera p{
    justify-content: center;
    align-self: center;

}
.containera img{
    width: 21vw;
    margin-left: 33%;
    /* margin-right: 50%; */
    /* align-content: center; */
    /* justify-self: center; */
}

@media all and (max-width: 960px){
    .containera{
        margin: 6vw 6vw 6vw ;  /*decide the width you want to keep */
        font-weight: 200;
    }
    /* .containera */
}