@import url('https://fonts.googleapis.com/css2?family=Literata:wght@500&family=Raleway&display=swap');
body, html {
    height: 100%;
    margin: 0;
}
.main1 {
    margin: 0;

    /* background: url('./bgimg.jpg') no-repeat ; */
    background-color: rgba(235, 220, 8, 0.089);
    width: auto;
    background-position: cover;
    background-size: fill;
    overflow: hidden;
    min-height: 100vh;  /* vh- viewport height-> this makes the bg img to cover full height not only till the container*/
    padding-top: 10vh;
}
.container {
    display: block;
    margin: 0rem;
    padding: 1vh;
    padding-top: 2vh;
    background-color: rgba(48, 9, 245, 0.186);
}

.intro{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-family: 'Literata', serif;
    font-family: 'Raleway', sans-serif;
    font-size: 4rem;
    color: rgb(253, 2, 157);
    text-shadow: -.0001px -.0001px 0 #000, .0001px -.0001px 0 #000, -.0001px .1px 0 #000, .0001px .0001px 0 #000;
    line-height: 11vh;
    font-weight: bold;
}
.heading {
    background: repeating-linear-gradient( rgba(255, 0, 0, 0.415),rgba(0, 0, 255, 0.435));
    font-weight: 800;
    font-size: 4vh;
}

.grid{
    display: grid;
    gap: 3vh;
    grid-template-columns: repeat(auto-fill,minmax(200px,1fr));
    /* background-color: rgba(246, 247, 240, 0.871); */

    margin: 0vh;
    padding: 3vh;

}
.element{
    display: inline-block;
    cursor: pointer;
    border: 3px solid black;
    border-radius: 6px 6px;
    padding: 0.5rem 2rem 2rem 2rem;
    /* margin: 1rem; */
    /* height: 30vh; */


}
.element:hover {
    box-shadow:rgba(0, 0, 0, 0.8) 0px 5px 15px, inset rgba(147, 243, 79, 0.45) 0px -10px 20px;
    /* height: 31vh; */
    transition: .5s;
}
.element:active{
    height: 29vh;
}

.homeimage{
    color: black;
    text-align: center;
}



@media all and (max-width: 900px){
    .intro{
        font-size: 1rem;
        line-height: 4vh;
    }
}