body, html {
    height: 100%;
    margin: 0;
}
.main1 {
    margin: 0;
    background: url('./bgimage.jpg') no-repeat ;
    width: auto;
    background-position: center;
    background-size: cover;
    overflow: hidden;
    min-height: 100vh;  /* vh- viewport height-> this makes the bg img to cover full height not only till the container*/
}
/* p {
    padding: 1rem 1rem 1rem;
} */